<div class="container">
  <div *ngIf="accountExists">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Stambena Zajednica: {{ community.Name }} </h4>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Broj Računa</th>
              <th>Banka</th>
              <th>Akcija</th>
              <th>Detalji</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accounts">
              <td class="col-md-4">{{ account.AccountNumber }}</td>
              <td class="col-md-4">{{ account.BankName }}</td>
              <td class="col-md-2 action">
                <div class="btn-toolbar">
                  <button type="button" class="btn btn-success btn-xs" (click)="updateAccount(account)">Izmeni</button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="selectAccount(account)" data-toggle="modal" data-target="#deleteAccountModal" >Obriši</button>
                </div>
              </td>
              <td class="col-md-1 details">
                  <div class="btn-toolbar">
                    <button type="button" class="btn btn-primary btn-xs" (click)="getBankAccounts(account)">Izvodi</button>
                  </div>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="deleteAccountModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" (click)="modalCancel()">&times;</button>
            <h4 class="modal-title">BRISANJE RAČUNA</h4>
          </div>
          <div *ngIf="selectedAccount" class="modal-body">
            <p>Ova akcija će obrisati račun: {{ selectedAccount.AccountNumber }}</p>
            <p>Da li ste sigurni?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteAccount()" data-dismiss="modal">Obriši</button>
            <button type="button" class="btn btn-primary" (click)="modalCancel()" data-dismiss="modal">Otkaži</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->
  
  <hr />
  <div class="btn-toolbar">
    <button type="button" class="btn btn-primary btn-md" (click)="createAccount()"><span class="glyphicon glyphicon-save"></span> Novi Račun</button>
    <button type="button" class="btn btn-primary btn-md" (click)="back()"><span class="glyphicon glyphicon-share-alt"></span> Nazad</button>
  </div>
</div>

<div *ngIf="!accountExists" class="container">
  <br>
  <div class="panel panel-primary">
    <div class="panel-heading">Info</div>
    <div class="panel-body">Nema kreiranih računa!</div>
  </div>
</div>
