<div class="container">
  <h3>{{ submitText }}</h3>
  <hr>
  <form name="form" (ngSubmit)="onSubmit()" #ownerForm="ngForm">
    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label for="firstName">Ime  <span class="glyphicon glyphicon-asterisk required"></span></label>
              <input #firstName="ngModel" 
                      type="text" 
                      class="form-control" 
                      id="firstName" 
                      name="firstName" 
                      [(ngModel)]="owner.FirstName" 
                      placeholder=" Unesite Ime...." 
                      required>
            </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="lastName">Prezime <span class="glyphicon glyphicon-asterisk required"></span></label>
            <input #lastName="ngModel" 
                    type="text" 
                    class="form-control" 
                    id="lastName" 
                    name="lastName" 
                    [(ngModel)]="owner.LastName" 
                    placeholder=" Unesite Prezime...." 
                    required>
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
              <label for="email">Email</label>
              <input #email="ngModel" 
                      type="text" 
                      class="form-control" 
                      id="email" 
                      name="email" 
                      [(ngModel)]="owner.Email" 
                      placeholder=" Unesite email....">
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
          <div class="form-group">
              <label for="phone">Telefon</label>
              <input #phone="ngModel" 
                      type="text" 
                      class="form-control" 
                      id="phone" 
                      name="phone" 
                      [(ngModel)]="owner.Phone" 
                      placeholder=" Unesite Telefon....">
            </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
            <label for="street">Ulica</label>
            <input #street="ngModel" 
                    type="text" 
                    class="form-control" 
                    id="street" 
                    name="street" 
                    [(ngModel)]="owner.Street" 
                    placeholder=" Unesite Ulicu....">
          </div>
      </div>

      <div class="col-md-2">
          <div class="form-group">
              <label for="streetNumber">Broj</label>
              <input #email="ngModel" 
                      type="text" 
                      class="form-control" 
                      id="streetNumber" 
                      name="streetNumber" 
                      [(ngModel)]="owner.StreetNumber" 
                      placeholder=" Unesite Broj....">
            </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
            <label for="city">Grad</label>
            <input #email="ngModel" 
                    type="text" 
                    class="form-control" 
                    id="city" 
                    name="city" 
                    [(ngModel)]="owner.City" 
                    placeholder=" Unesite Grad....">
          </div>
      </div>
    </div>
   
    <hr>

    <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary btn-md" [disabled]="!ownerForm.valid"><span class="glyphicon glyphicon-save"></span> Sačuvaj</button>
        <button type="button" class="btn btn-primary btn-md" (click)="back()"><span class="glyphicon glyphicon-share-alt"></span> Nazad</button>
    </div>
  </form>

</div>

